[{sasl,[{errlog_type,error}]},
 {skn_proxy,
     [{namespace,'Elixir.Skn'},
      {ecto_repos,['Elixir.Skn.Proxy.Repo']},
      {'Elixir.Skn.Proxy.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"${DB_VPN_USER}">>},
           {password,<<"${DB_VPN_PASS}">>},
           {database,<<"${DB_VPN_SCHEMA}">>},
           {hostname,<<"${DB_VPN_HOST}">>},
           {port,<<"${DB_VPN_PORT}">>},
           {pool_size,8},
           {log, false}]}
     ]},
 {logger,
     [{backends,['Elixir.LoggerLagerBackend']},
      {handle_otp_reports,false},
      {level,debug}]},
 {lager,
     [{log_root,"${LAGER_LOG_DIR}"},
      {crash_log,"${NODE_NAME}_crash.log"},
      {handlers,
          [{lager_file_backend,[{file,"${NODE_NAME}.log"},{level,debug}, {size, 262144000}, {count, 25}, {date, "$D0"}]}
          ]}]},
 {mnesia,[{dir,"${DB_ROOT_DIR}"}, {dump_log_write_threshold, 250000}, {dc_dump_limit, 40}]},
 {ssl,[{protocol_version,'tlsv1.2'}]}].
